grpcio-tools==1.14.1
jsonrpcclient==2.5.2
eth-typing<2
web3==4.2.1
mnemonic==0.18
bip32utils==0.3.post3
ecdsa==0.13
trezor==0.9.1
rlp==0.6.0
PyYAML==3.12
ipfsapi==0.4.2.post1
rfc3986==1.1.0
hidapi>=0.7.99
protobuf>=2.6.1
pycryptodome==3.6.6
eth-hash==0.1.4
future==0.16.0
ecpy>=0.8.1
pillow>=3.4.0
python-u2flib-host>=3.0.2
eth-tester==0.1.0b32